* {
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-content: space-between;
}
html {
  scroll-behavior: smooth;
}
.main-container {
  height: 100vh;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.header-section {
  text-align: start;
  padding-left: 50px;
  width: 800px;
  background: blue;
  color: white;
}
.image-section {
  width: 250px;
  background: blue;
  padding-top: 20px;
  padding-left: 0;
}
body {
  display: flex;
  justify-content: center;
}
.img {
  background: white;
  width: 200px;
  height: 200px;
  margin: 5px;
  border-radius: 50%;
  margin-top: 20px;
}
.main-container {
  width: 1000px;
}
nav a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  width: 100px;
  color: black;
  background: beige;
  padding: 5px;
  margin: 5px;
  
  border-radius: 10px;
  text-align: center;
}
h1 {
  font-size: 50px;
  padding-top: 0;
}
h2 {
  font-size: 40px;
}

.about-section {
  display: flex;
}
.about-section h2 {
  color: blue;
}
.img-1 {
  width: 300px;
  height: 200px;
  background: blue;
  margin: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.image-section1 {
  margin-top: 50px;
}

.skills-section {
  text-align: center;
  display: block;
  
}
.skills-section h2 {
  color: white;
}
.input-display label {
  margin-right: 20px;
  color: white;
}
.input-display p {
  margin-left: 20px;
  color: white;
}
.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.input-section div {
  margin-right: 50px;
}
.input-display {
  display: flex;
  align-items: center;
  padding: 10px;
  align-content: space-between;
}
.project-section h2 {
  color: blue;
}
.project-section {
  text-align: center;
}
.project-container {
  display: flex;
}
.projects-display {
  margin: auto;
}
.project-image {
  width: 200px;
  height: 200px;
  background: blue;
  transition: transform 0.5s ease, background-color 0.5s ease;
}
.project-image:hover {
  transform: scale(1.5);
  background: #000;
}
.projects-display p {
  margin: 50px;
  font-size: 20px;
  width: 100px;
  background: blue;
  border-radius: 5px;
  padding: 5px;
}

fieldset {
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.contact-section {
  margin-top: 10px;
}
.contact-section h2 {
  text-align: center;
  color: blue;
}
form {
  width: 800px;
  margin: auto;
}
.form-group {
  width: 500px;
  margin-bottom: 15px;
}
.label-1 {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #555;
}
.input-1 {
  width: 400px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
}
textarea {
  width: 400px;
  height: 100px;
  border-radius: 5px;
  padding: 5px;
}
button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  background: blue;
  color: white;
  border-style: none;
}
.button-section {
  display: flex;
  justify-content: end;
}
.section-style {
  display: flex;
  gap: 20px;
  color: #555;
  margin-top: 20px;
}
i {
  padding: 20px;
}
footer p {
  text-align: start;
  margin-right: auto;
  margin-left: auto;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background: blue;
  height: 50px;
  width: 1000px;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0;
}
